body {
    font-family: Montserrat;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    /* border: 3px solid black; */
    margin-bottom: 0px;
    margin-left: 100px;
}

.left-section {
    display: flex;
    flex-direction: row;
    justify-content: ;
    /* border: 3px solid black; */
    width: 10%;
    padding-top: 5px;
}

.left-section div {
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
}

.brandname {
    margin-top: 0px;
}

.middle-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid black; */
    width: 50%;
    padding-top: 8px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 90px;
}

.middle-section div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.right-section {
    width: 20%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 100px; */
}

#btn-one {
    border-radius: 5px;
    border: none;
    background-color: rgba(88, 16, 16, 0.808);
    color: white;
    font-family: Montserrat;
    width: 120px;
    height: 40px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}

/* Main CSS */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.title {
    font-size: 28px;
    width: 310px;
    /* border: 2px solid; */
    margin-bottom: 0px;
}

.title-two {
    font-size: 28px;
    width: 310px;
    /* border: 2px solid; */
    margin-top: 0px;
    margin-left: 70px;
}

span {
    font-style: italic;
    color: #0B1017;
}

.description {
    margin-top: 0px;
    font-style: italic;
}

main div {
    display: flex;
    flex-direction: row;
    justify-content: ;
    width: 70%;
    border: 1px solid;
}

.enquiries div {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enquiries .spaceme{
    margin-left: 0px;
    border: none;
    width: 40%;
}
.enquiries .spaceme {
    margin-left:-3px;
    border: none;
    width: 40%;
    font-size: 14px;
    font-weight: 600;
}
#logo1, #logo2, #logo3, #logo4 {
    margin-top: 3px;
    border: none;

}
#logo1{
    min-width: 15%;
    margin-right:5px;
}
#logo2{
    min-width: 15%;
    margin-right:-10px;
}
#logo3{
    min-width: 15%;
    margin-left:-8px;
}
#logo4{
    min-width: 15%;
    margin-right:-6px;
}

.enquiries {
    border: none; 
    background-color: rgb(249, 237, 237); 
    box-shadow: 3px 3px 5px rgba(88, 16, 16, 0.808);
    border-radius: 8px;
    width: 40%;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.enquiries
.enquiries .location {
    width: 800px;
    border:none;
}

#btn-two {
    border-radius: 5px;
    border: none;
    background-color: rgba(88, 16, 16, 0.808);
    color: white;
    font-family: Montserrat;
    width: 120px;
    height: 40px;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}

section {
    width: 70%;
    margin: 0 auto;
    height: 800px;
}

section img {
    width: 100%;
    border-radius: 10px;
}