.main-container {
    border: 5px solid rgb(157, 163, 148);
    width: 540px;
    display: grid;
    grid-template-columns: 160px 160px 160px;
    gap: 20px;
}

.container-one,
.container-two,
.container-three {
    height: 280px;
    width: 160px;
    /* display: inline-block; */
    margin: 8px;
    background-color: rgb(221, 203, 203);
    box-shadow: 3px 3px 20px;

}

.profile-con-one,
.profile-con-two,
.profile-con-three {

    width: 190px;
    height: 150px;


    margin-bottom: 0px;

}

.Rex,
.Moggy,
.tabby {
    width: 160px;
    height: 150px;
    margin-bottom: 0px;

}

h3 {
    font-size: 16px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 3px;
    color: #0b0202;
}

.profile-pic-one {
    width: 30px;
    border-radius: 50%;
    margin-top: 8px;
}

p {
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
}

.details-one {

    display: grid;
    width: 150px;
    grid-template-columns: 40px 110px;
    margin-top: 0px;
    margin-left: 3px;
}

.content-container {
    padding: 5px;
}

button {
    margin-left: 3px;
    margin-top: 5px;
    padding: 10px;
    width: 100px;
    background-color: rgb(7, 86, 242);
    color: white;
    font-family: Arial;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.85;

}