
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 10px;
}


/* Twitter */
.Tweet-container{
    margin-top: 50px;
    margin-bottom: 50px
}
.input-btn {
    border: none;
    border-radius: 10px;
    border-color: rgb(4, 147, 243);
    padding: 10px;
    font-family: Arial;
    width: 300px;
    vertical-align: top;
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
}
.input-btn:focus{
    outline: none;
}

button {
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 70px;
    background-color: rgb(29, 155, 240);
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    vertical-align: top;
    margin-top: 5px;
    transition: box-shadow 0.15s;
}
button:hover{
opacity: 0.85 ;
}

#googlesearch{
    border-radius: 20px;
    border:none ;
    padding: 10px 15px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-shadow: 5px 5px 20px rgb(227, 227, 231) ;
    background-color: rgb(229, 229, 239);
    margin-top: 0;
}
#googlesearch:focus{
    outline: none;
}
.google-logo{

width: 150px; 
display: block; 
margin: 0 auto;
}
.google-con{
    width: 350px;
}