.container {
    background-color: rgb(242, 237, 237);
    color: rgb(244, 242, 242);
    width: 300px;
    margin-top: 20px;
    padding: 10px;
}

.link-text {
    color: rgb(0, 113, 133);
}

.text-one {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: x-large;
}

.text-two {
    color: rgb(0, 118, 0);
    font-weight: bold;
    font-size: 18px;
}

.text-three {
    color: black;
    font-weight: bold;
}

.button-container-one {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 120px;
    margin-right: 10px;
    transition: opacity 0.5s;
}

.button-container-two {
    background-color: rgb(255, 164, 28);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;

    cursor: pointer;
}

.button-container-one:hover {
    opacity: 0.5;
}

.button-container-two:hover {
    opacity: 0.7;
}
body{
    padding-bottom: 300px;
}
#justbutton{
    display: block;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(0, 124, 124);
    color: white;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgb(162, 228, 240);
}