body{
    margin: 0;
    box-sizing: border-box;
}
.subcontainer {
    background-color: rgb(240, 233, 233);
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hoodie {
    width: 300px;
}

.discount-div {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;

    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    position: absolute;
    top: 10px;
    right: 35px;
}

.discount-div:hover {
    opacity: 0.55;
}

p {
    margin: 0, auto;
}

.add-to-cart {
    background-color: rgb(243, 244, 246);
    width: 300px;
    height: 80px;
    position: absolute;
    top: 280px;
}

.cart {
    border: 2px solid black;
    background-color: rgb(239, 234, 234);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    width: 150px;
    margin: 27px auto;
}