.main-container {
    display: flex;
    flex-direction: row;
    border: 2px solid #5fcdf2;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.flex-item-one {
    background-color: #5fcdf2;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    color: rgb(250, 245, 245);
    font-size: 20px;
    padding: 0px 10px;
    border-radius: 10px;
}