.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid rgb(217, 215, 215);
}

/* left section */
.left-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.Hamburger-icon {
    height: 25px;
    margin-left: 25px;
}

.YouTube-icon {
    height: 22px;
    margin-left: 14px;
}

/* Middle Section */
.middle-section {
    display: flex;
    max-width: 800px;
    /* background-color: #e13d3d; */
}

.search-bar {
    width: 500px;
    padding-left: 8px;
    border: 1px solid rgb(192, 192, 192);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 40px;
}

.search-bar::placeholder {
    font-family:Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 30px;
    width: 20px;
    margin-top: 5px;
}

.search-btn {
    margin-right: 10px;
    width: 60px;
    border: 1px solid rgb(192, 192, 192);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}

.voice-btn {
    position: relative;
}

.search-btn .tooltip,
.voice-btn .tooltip,
.upload .tooltip,
.app .tooltip,
.notification-btn-container .tooltip {
    position: absolute;
    background-color: grey;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    bottom: -40px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-btn:hover .tooltip {
    opacity: 1;
}

.voice-btn:hover .tooltip {
    opacity: 1;
}

.voice-button {
    height: 25px;
    width: 30px;
    margin-top: 4px;
}

.voice-btn {
    border: 1px;
    border-radius: 50%;
}

/* Right Section */
.right-section {
    /* background-color: blue; */
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.right-section {
    padding: 10px;
    margin-right: 14px;
    /* background-color: blue; */
}

.upload-btn,
.notification-btn,
.app-btn {
    width: 25px;
}

.notification-btn-container {
    position: relative;
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 12, 12);
    border-radius: 50%;
    padding: 2px;
    width: 13px;
    height: 13px;
    text-align: center;
    font-family:Roboto, Arial;
    font-size: 11px;
    font-weight: 500;
    color: white;
}

.upload,
.app,
.notification-btn-container {
    position: relative;
}

.upload:hover .tooltip,
.app:hover .tooltip,
.notification-btn-container:hover .tooltip {
    opacity: 1;
}

.ultimate-pic {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}