.heading{
font-family: Montserrat;
text-align: center;
font-weight: 700;
}
p{
    font-size: 18px;
    text-align: center;
    font-family: Montserrat;
}
.Del{
    text-decoration: underline;
}

.New{
    color: Red;
}
.Mac{
    font-weight: 500;
    margin-bottom: 0;
}
.Big-mac{
font-weight: 600;
font-size: 20px;
margin-top: 0;
margin-bottom: 5px;
}
.Mac-num{
font-size: 12px;
margin-top: 0;
}

button{
    display: block;
    width: 50px;
    padding: 8px 4px;
    text-align: center;
    background-color: rgb(36, 13, 236);
    border-radius: 20px;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    color: white;
    margin: 0 auto;
}

.container{
    border: 3px dashed rgb(70, 70, 248);
    height: 200px;
    width: 250px;
margin: 0 auto;
}