.uber {
            background-color: black;
            border: none;
            color: white;
            padding: 12px;
            margin-right: 20px;
            font-weight: bold;
            width: 150px;
            cursor: pointer;
            transition: opacity 0.15s;
        }

        /* .uber:active{
            background-color: rgb(238, 19, 19);
            color: white;
        } */
        .uber:hover {
            opacity: 0.75;
        }

        .Amazon {
            background-color: rgb(255, 216, 20);
            border: none;
            border-radius: 20px;
            width: 200px;
            padding: 12px;
            font-weight: bold;
            margin: 20px;
            cursor: pointer;
            transition: background-color 0.15s;
        }

        .Amazon:hover {
            background-color: rgb(231, 195, 15);
        }

        .GitHub {
            background-color: rgb(46, 164, 79);
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            padding: 12px;
            width: 80px;
            cursor: pointer;
            transition: box-shadow 0.15s;

        }

        .GitHub:hover {
            box-shadow: 5px 5px 10px rgba(33, 32, 32, 0.25);

        }

        .bootstrap-btn1 {
            background-color: rgb(121, 82, 179);
            border: none;
            border-radius: 5px;
            font-weight: bold;
            padding: 12px;
            margin-right: 10px;
            color: white;
            width: 150px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .bootstrap-btn1:hover {
            background-color: rgb(109, 52, 193);
        }

        .bootstrap-btn2 {
            background-color: white;
            color: rgb(108, 117, 125);
            border-width: 1px;
            border-radius: 3px;
            font-weight: bold;
            padding: 12px;
            width: 150px;
            margin: 20px;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
        }

        .bootstrap-btn2:hover {
            background-color: rgb(146, 152, 157);
            /* border: none; */
            color: white;
        }

        .LinkedIn-btn1 {
            background-color: rgb(10, 102, 194);
            color: white;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            padding: 12px;
            width: 220px;
            margin-right: 20px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .LinkedIn-btn1:hover {
            background-color: rgb(21, 89, 158);
        }

        .LinkedIn-btn2 {
            background-color: rgb(255, 255, 255);
            border-width: 1px;
            border-radius: 50px;
            border-color: rgb(22, 22, 248);
            color: rgb(21, 43, 240);
            padding: 12px;
            width: 90px;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.2s;

        }

        .LinkedIn-btn2:hover {
            background-color: rgb(193, 221, 249);
            border-width: 2px;
        }