.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 20px;
    margin-top: 120px;
    margin-left: -20px;
    background-color: #faf8f8;
    font-family: Roboto, Arial;
}

@media (max-width:600px) {
    .content-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.videothumbnail-one {
    position: relative;
}

.video-time {
    background-color: black;
    color: white;
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 3px;
    border-radius: 2px;
    position: absolute;
    right: 16px;
    bottom: 10px;
}

.thumbnail-one {
    width: 340px;
}

.channel-img {
    width: 40px;
    border-radius: 50%;
}

.videopreview-one {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    margin-top: 10px;
}

.videostat-one>p {
    font-family: Roboto, Arial;
}

.video-title-one {
    font-size: 14px;
    font-weight: 500;
    width: 290px;
    line-height: 20px;
    margin-top: 0;
}

.Channel-owner-one {
    font-size: 12px;
    color: #606060;
    margin-bottom: 0px;
}

.video-stat-one {
    font-size: 14px;
    margin-top: 5px;
    color: #606060;
}



.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
@media (min-width:300px) and (max-width:420px) {
    .main-container{
    grid-template-columns: 1fr;
    }
}
@media (min-width:700px) and (max-width:999px) {
    .main-container{
    grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:700px) and (max-width:999px) {
    .main-container{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1000px) {
    .main-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* Dont stress me */
.videothumbnail-one {
    position: relative;
}

.video-time {
    background-color: black;
    color: white;
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 3px;
    border-radius: 2px;
    position: absolute;
    right: 16px;
    bottom: 10px;
}

.thumbnail-one {
    width: 340px;
}

.channel-img {
    width: 40px;
    border-radius: 50%;
}

.videopreview-one {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    margin-top: 10px;
}

.videostat-one>p {
    font-family: Roboto, Arial;
}

.video-title-one {
    font-size: 14px;
    font-weight: 500;
    width: 290px;
    line-height: 20px;
    margin-top: 0;
}

.Channel-owner-one {
    font-size: 12px;
    color: #606060;
    margin-bottom: 0px;
}

.video-stat-one {
    font-size: 14px;
    margin-top: 5px;
    color: #606060;
}